#calva stuff
.calva
.clj-kondo
.cpcache
.lsp
.nrepl-port


#config file w secret passwords n stuff
config.clj

#ClojureScript added stuff
out
.shadow-cljs
public/js
shadow-cljs-edn.txt

#npm
node_modules